# ----------------------
# OS files
# ----------------------
.DS_Store

# ----------------------
# Python cache / artifacts
# ----------------------
__pycache__/
*.py[cod]

# ----------------------
# Virtual environments
# ----------------------
.venv/
venv/
env/

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/
scratch.ipynb

# ----------------------
# Environment / secrets
# ----------------------
.env
.env.*

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Editor / IDE
# ----------------------
.vscode/
.idea/
